section
  header Commercial/Retail Equipment
  p How do you want to tell us about your requirements?
  ul
    li 
      a(href="/buyCommercial") Input description
    li 
      a(href="/sendDocuments/buy/commercial") Send document(s)
  footer Reply A or B
