section
  header Commercial/Business Equipment
  p How do you want to provide your requirements?
  ul
    li 
      a(href="/buyCommercial") Describe your requirements
    li 
      a(href="/sendDocuments/buy/commercial") Send document(s)
  footer Reply A or B
