section
  header Computer & Networking Equipment
  p How do you want to provide your requirements?
  ul
    li 
      a(href="/buyDataCenter") Describe
    li 
      a(href="/sendDocuments/buy/dataCenter") Send document(s)
  footer Reply A or B
