section
  header Personal/Business Equipment
  p How do you want to tell us about your requirements?
  ul
    li 
      a(href="/buyPersonal") Input description
    li 
      a(href="/sendDocuments/buy/personal") Send document(s)
  footer Reply A or B
