section
  header Personal/Business Equipment
  p How do you want to provide your requirements?
  ul
    li 
      a(href="/buyPersonal") Input Form
    li 
      a(href="/sendDocuments/buy/personal") Send document(s)
  footer Reply A or B
