section
    header Admin Contacts
    ul
        each contact in contacts
            if contact.messages.length > 0
                li 
                    a(href="/contactShow/"+contact._id) #{contact.name} (#{contact.messages.length})
            else               
                li 
                    a(href="/contactShow/"+contact._id) #{contact.name}