section
  header Computer & Networking Equipment
  if mode = "sell"
    p What type of equipment do you have for sale?
  else
    p What type of equipment are you looking for?
  ul
    li 
      a(href="/grade/dataCenter/"+mode) Data Center
    li 
      a(href="/grade/commercial/"+mode) Commercial
    li 
      a(href="/grade/personal/"+mode) Personal/Business
  footer Reply with A or B

          