section
  header Computer & Networking Equipment
  p What type of equipment?
  ul
    li 
      a(href="/grade/dataCenter/"+mode) Data Center
    li 
      a(href="/grade/dataCenter/"+mode) Commercial
    li 
      a(href="/grade/dataCenter/"+mode) Personal/Business
  footer --Reply with A or B

          