section
  header Reclaim Asset Recovery
  if !preBody
    p What would you like to do?
  else
    p #{preBody}
  ul
    li 
      a(href="/gradeSelect/sell") Sell equipment to us
    li 
      a(href="/gradeSelect/buy") Source/buy equipment from us
  footer Reply with A or B

          