section
  header Computer & Networking Equipment
  if !preBody
    p What would you like to do?
  else
    p #{preBody}
  ul
    li 
      a(href="/gradeSelect/sell") Sell
    li 
      a(href="/gradeSelect/buy") Find/Buy
  footer Reply with A or B

          