section
  header Reclaim Asset Recovery
  if !preBody
    p We buy, source and sell computer & networking equipment.
    p What would you like to do?
  else
    p #{preBody}
  ul
    li 
      a(href="/gradeSelect/sell") Sell to us
    li 
      a(href="/gradeSelect/buy") Source/buy from us
  footer Reply with A or B

          