section
  header Computer & Networking Equipment
  p What would you like to do?
  ul
    li 
      a(href="/gradeSelect/sell") Sell
    li 
      a(href="/gradeSelect/buy") Find/Buy
  footer --Reply with A or B

          