section
  header Reclaim Micro-app
  p Computer & Networking Equipment
  ul
    li 
      a(href="/sellToUs/") Sell to us
    li 
      a(href="/lookingFor/") Searching for
  footer --Reply with A or B

          