section
  header Computer & Networking Equipment
  p What would you like to do?
  ul
    li 
      a(href="/sellToUs/") Sell Equipment
    li 
      a(href="/lookingFor/") Find/Buy Equipment
  footer --Reply with A or B

          