section
  header Personal/Business Equipment
  p How do you want to present your equipment?
  ul
    li 
      a(href="/sellPersonal") Describe your equipment
    li 
      a(href="/sendDocuments/sell/personal") Send document(s)
  footer Reply A or B
