section
  if !master
    header Your Sell Enquiries
  else
    header Admin Sell Enquiries
  if !master
    ul
      li 
        a(href="/gradeSelect/sell") Make another sell enquiry
      li 
        a(href="/gradeSelect/buy") Make a Source/buy enquiry
      li Select to review
      each sell in sells
        li
          a(href="/sellShow/"+sell._id) #{sell.title}
  else
    ul
      - let newName = ""
      each sell in sells
        if newName != sell.name[0]
          li Seller: #{sell.name[0]}
          - newName = sell.name[0]
        li
          a(href="/sellShow/"+sell._id) #{sell.title}