section
  header Personal/Business Equipment
  p How do you want to present your equipment?
  ul
    li 
      a(href="/sellCommercial") Describe your equipment
    li 
      a(href="/sendDocuments/sell/commercial") Send document(s)
  footer Reply A or B
