section
  header Commercial/Retail Equipment
  p How do you want to tell us about your equipment?
  ul
    li 
      a(href="/sellCommercial") Via our query wizard
    li 
      a(href="/sendDocuments/sell/commercial") Send document(s)
  footer Reply A or B
