section
  header Computer & Networking Equipment
  p How do you want to tell us about your equipment?
  ul
    li 
      a(href="/sellDataCenter") Via our query wizard
    li 
      a(href="/sendDocuments/sell/dataCenter") Send document(s)
  footer Reply A or B
