section
  header Commercial/Retail Equipment
  p How do you want to present your equipment?
  ul
    li 
      a(href="/sellCommercial") Input Form
    li 
      a(href="/sendDocuments/sell/commercial") Send document(s)
  footer Reply A or B
