section
  header Computer & Networking Equipment
  p How do you want to present your equipment?
  ul
    li 
      a(href="/sellDataCenter") Input Form
    li 
      a(href="/sendDocuments/sell/dataCenter") Send document(s)
  footer Reply A or B
