form(action="/dataCenterBuyDetails", method="post")
    section(name="equipment")
        header What are you looking for?
        p Provide a brief description of what you are looking for?
        input(type="string")
