form(submit="/kindOfEquipment", method="post")
    section
        header Sell To Us - Data Center
        p What kinds of equipment?
        li(value="servers") Servers
        li(value="network") Network
        li(value="firewalls") Firewalls
        li If you have doc/xls/csv specs...
        li(value="upload") Upload Files
        footer Reply with one or more options