form(action="/contactSave/"+record+"/"+grade+"/"+mode method="post")
    section(name="name" required)
        header Contact Name
        p Your name
        input(type="text")
    section(name="mobile")
        header Contact Phone
        p Your contact phone number (optional)
        input(type="phone")
    section(name="email" required)
        header Contact Email
        p Your email address
        input(type="email")