form(submit="/sellEquipmentGrade", method="post")
    section
        header Sell To Us
        p What grade of equipment?
        li(value="datacenter") Data Center
        li(value="personal") Personal
        footer Reply A-C