form(submit="/kindOfEquipment", method="post")
  header Looking For - Personal
    p What kind of equipment?
    li(value="laptops") Laptops
    li(value="desktops") Desktops
    li(value="printers") Printers
    li If you have doc/xls/csv specs...
    li(value="upload") Upload Files
    footer Reply with one or more options