form(action="/contactInfo/personal/"+mode method="post")
  section(name="laptop" default="0")
        header Laptops
        p How many laptops? (default=0)
        input(type="number" step="1")
        footer Reply with number
    section(name="desktop" default="0")
        header Desktops
        p How many desktops? (default=0)
        input(type="number" step="1")
        footer Reply with number
    section(name="printer" default="0")
        header Printers
        p How many printers? (default=0)
        input(type="number" step="1")
        footer Reply with number
    section(name="storage" default="0")
        header Storage Devices
        p How many storage devices? (default=0)
        input(type="number" step="1")
        footer Reply with number
    section(name="location")
        header Location
        p Where is this equipment?
        ul
          li(value="home") Home/office
          li(value="storage") Storage
    section(name="inspection" default="now")
        header Available for inspection
        p example: now, after 3 weeks, after 2 months (default=now)
        input(type="date")
    section(name="pickup" default="now")
        header Available to pickup
        p example: now, after 3 weeks, after 2 months (default=now)
        input(type="date")