form(action="/contactInfo/dataCenter/sell" method="post")
    section(name="server" default="0")
        header Servers & Storage
        p How many servers or storage devices? (Default = 0)
        input(type="number" step="1")
        footer Reply with number
    section(name="networking" default="0")
        header Switches & Routers
        p How many switches and/or routers? (Default = 0)
        input(type="number" step="1")
        footer Reply with number
    section(name="firewall" default="0")
        header Firewalls,Hubs,Bridges & Gateways
        p How many firewalls, bridges, hubs and/or gateways? (Default = 0)
        input(type="number" step="1")
        footer Reply with number
    section(name="location")
        header Location
        p Where is this equipment?
        ul
            li(value="dataCenter") Data Center
            li(value="storage") Storage
    section(name="inspection" default="now")
        header Available for inspection
        p example: now, after 3 weeks, after 2 months (default=now)
        input(type="date")
    section(name="pickup" default="now")
        header Available to pickup
        p example: now, after 3 weeks, after 2 months (default=now)
        input(type="date")