form(action="/contactInfo/personal/"+mode, method="post")
  section(name="laptop")
        header Laptops
        p How many laptops?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="desktop")
        header Desktops
        p How many desktops?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="printer")
        header Printers
        p How many printers?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="storage")
        header Storage Devices
        p How many storage devices?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="location")
        header Location
        p Where is this equipment?
        li(value="dataCenter") Data Center
        li(value="storage") Storage
    section(name="inspection")
        header Available for Inspection
        li(value="now") Anytime
        li(value="schedule") Schedule
        input(type="date")
    section(name="pickup")
        header Available to pickup
        p example: now, after 3 weeks, after 2 months
        input(type="date")