form(submit="/sellEquipmentGrade", method="post")
    section
        header Sell To Us
        p Where is the equipment?
        li(value="datacenter") Data Center
        li(value="storage") Storage
        li(value="other") Other
        footer Reply A-C