form(submit="/kindOfEquipment", method="post")
    section
        header Looking For - Data Center
        p What kinds of equipment?
        li(value="servers") Servers
        li(value="network") Network
        li(value="firewalls") Firewalls
        li If you have doc/xls/csv specs...
        li(value="upload") Upload Files
    section
        header Sell To Us - Data Center
        p Where is the equipment?
        li(value="datacenter") Data Center
        li(value="storage") Storage
        li(value="other") Other
    section
        header Sell To Us - Data Center
        p Total Units?
        li(value="50+") 51+
        li(value="21-50") 21-50
        li(value="11-20") 11-20
        li(value="-10") Less than 10