form(action="/contactSave", method="post")
    section(name="contact")
        header Contact Information
        p Your name
        input(type="string")
    section(name="mobile")
        header Contact Information
        p Your contact mobile number (optional)
        input(type="string")
    section(name="email")
        header Contact Information
        p Your email address (required)
        input(type="email")