form(action="/contactSave/"+record+"/"+grade+"/"+mode method="post")
    section(name="name" required)
        header Contact Information
        p Your name
        input(type="text")
    section(name="mobile")
        header Contact Information
        p Your contact mobile number (optional)
        input(type="text")
    section(name="email" required)
        header Contact Information
        p Your email address
        input(type="email")