form(action="/contactInfo/commercial/sell" method="post")
    section(name="epos" default="0")
        header EPOS Terminals
        p How many EPOS devices? (Default = 0)
        input(type="number" step="1")
        footer Reply with number
    section(name="ticket" default="0")
        header Ticket Printers
        p How many ticket printers? (Default = 0)
        input(type="number" step="1")
        footer Reply with number
    section(name="scanner" default="0")
        header Scanners
        p How many scanner devices? (Default = 0)
        input(type="number" step="1")
        footer Reply with number
    section(name="location")
        header Location
        p Where is this equipment?
        ul
            li(value="shop") Shop/business
            li(value="storage") Storage
    section(name="inspection" default="now")
        header Available for inspection
        p example: now, after 3 weeks, after 2 months (default=now)
        input(type="date")
    section(name="pickup" default="now")
        header Available to pickup
        p example: now, after 3 weeks, after 2 months (default=now)
        input(type="date")