form(action="/contactInfo/dataCenter/"+mode method="post")
    section(name="server")
        header Servers & Storage
        p How many servers or storage devices?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="networking")
        header Switches & Routers
        p How many switches & routers?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="firewall")
        header Firewalls
        p How many firewalls?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="location")
        header Location
        p Where is this equipment?
        ul
            li(value="dataCenter") Data Center
            li(value="storage") Storage
    section(name="inspection")
        header Available for inspection
        p example: now, after 3 weeks, after 2 months
        input(type="date")
    section(name="pickup")
        header Available to pickup
        p example: now, after 3 weeks, after 2 months
        input(type="date")