form(action="/contactInfo/commercial/"+mode method="post")
    section(name="epos")
        header EPOS Terminals
        p How many EPOS devices?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="ticket")
        header Ticket Printers
        p How many ticket printers?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="scanner")
        header Scanners
        p How many scanner devices?
        p Default = 0?
        p Example: 20
        input(type="number" step="1")
        footer Reply with number
    section(name="location")
        header Location
        p Where is this equipment?
        li(value="shop") Shop/business
        li(value="storage") Storage
    section(name="inspection")
        header Available for Inspection
        li(value="now") Anytime
        li(value="schedule") Schedule
        input(type="date")
    section(name="pickup")
        header Available to pickup
        p example: now, after 3 weeks, after 2 months
        input(type="date")