form(action="/contactAdminSave")
    section(name="user name" required)
        header Admin Login
        p Login Name
        input(type="text")
    section(name="password")
        header Admin Login
        p Password
        input(type="text")
    if master
        section(name="admin" default="none")
            header Access Priviledges
            p Access priviledges?
            ul
                li(value="admin") Admin (full)
                li(value="staf") Staff (read only)
                li(value="trusted") Trusted Customer (inventory)
                li(value="no") No priviledges (default)
            input(type="text")