section
  header Commercial/Retail IT
  p How do you want to tell us about your requirements?
  ul
    li 
      a(href="/buyCommercial") Via our query wizard
    li 
      a(href="/sendDocuments/buy/commercial IT") Send document(s)
  footer Reply A or B