section
  header Data Center IT
  p How do you want to tell us about your requirements?
  ul
    li 
      a(href="/buyDataCenter") Via our query wizard
    li 
      a(href="/sendDocuments/buy/dataCenter IT") Send document(s)
  footer Reply A or B