section
  header Personal/Business IT
  p How do you want to tell us about your requirements?
  ul
    li 
      a(href="/buyPersonal") Via our query wizard
    li 
      a(href="/sendDocuments/buy/personal IT") Send document(s)
  footer Reply A or B