section
  header Personal/Business IT
  p How do you want to describe your equipment?
  ul
    li 
      a(href="/sellPersonal") Via our query wizard
    li 
      a(href="/sendDocuments/sell/personal IT") Upload document(s)
  footer Reply A or B
