section
  header Data Center IT
  p How do you want to describe your equipment?
  ul
    li 
      a(href="/sellDataCenter") Via our query wizard
        img(src=url)
    li 
      a(href="/sendDocuments/sell/dataCenter IT") Upload document(s)
        img(src=url)
  footer Reply A or B
