section
  header Commercial/Retail IT
  p How do you want to describe your equipment?
  ul
    li 
      a(href="/sellCommercial") Via our query wizard
        img(src=url)
    li 
      a(href="/sendDocuments/sell/commercial IT") Upload document(s)
        img(src=url)
  footer Reply A or B
