section
  header Commercial/Retail IT
  p How do you want to describe your equipment?
  ul
    li 
      a(href="/sellCommercial") Via our query wizard
    li 
      a(href="/sendDocuments/sell/commercial") Upload document(s)
  footer Reply A or B
