section
  header Personal/Business IT
  p How do you want to describe your equipment?
  ul
    li 
      a(href="/sellPersonal") Via our query wizard
        img(src=url)
    li 
      a(href="/sendDocuments/sell/personal IT") Upload document(s)
        img(src=url)
  footer Reply A or B
