section
  header Templates
  ul
    li
        a(href="/templateEdit/0") Create Template Data
          img(src=url)
    each template in templates
        li
            a(href="/templateShow/"+template._id) #{template.name}
              img(src=url)