section(name="pos")
    header Tills & Receipt Printers
    li(value="yes") Yes
    li(value="no") No
section(name="epos")
    header EPOS Terminals
    li(value="yes") Yes
    li(value="no") No
section(name="scanners")
    header Hand Held Scanners
    li(value="yes") Yes
    li(value="no") No

    
