section(name="contact")
    header Contact Information
    p Name
    input(type="string")
section(name="mobile")
    header Contact Information
    p Mobile Number
    input(type="string")
section(name="email")
    header Contact Information
    p Email
    input(type="email")
    
