section(name="servers")
    header Servers & Storage
    li(value="yes") Yes
    li(value="no") No
section(name="networking")
    header Switches & Routers
    li(value="yes") Yes
    li(value="no") No
section(name="firewalls")
    header Firewalls
    li(value="yes") Yes
    li(value="no") No

    
