section(name="location")
    header Equipment Location
    p Where is your equipment now?
    ul 
        li
            a(href="/dataCenterEquipmentLocation/datacenter") Data Center
        li
            a(href="/dataCenterEquipmentLocation/storage") Storage

    
