section(name="grade")
    // mode = sell / buy
    header What kind of equipment?
    ul
        li 
            a(href="/"+mode+"/dataCenter") Data Center (Servers etc.)
        li 
            a(href="/"+mode+"/commercial") Commercial (EPOS etc.)
        li 
            a(href="/"+mode+"/personal") Personal (Desktops etc.)
        li 
            a(href="/"+mode+"/help"+mode) Help
    
