section(name="location")
    header Equipment Location
    p Where is your equipment now?
    ul 
        li
            a(href="/dataCenterEquipmentLocation/datacenter") Data Center
                img(src=url)
        li
            a(href="/dataCenterEquipmentLocation/storage") Storage
                img(src=url)

    
