section(name="laptops")
    header Laptops
    li(value="yes") Yes
    li(value="no") No
section(name="desktops")
    header Desktops
    li(value="yes") Yes
    li(value="no") No
section(name="printers")
    header Printers & Scanners
    li(value="yes") Yes
    li(value="no") No

    
